<li>To <strong>verify RSpec</strong>: type this into your console:
  <pre class="code">> rspec</pre>

  You should see something like:
  <pre class="code">
No examples found.

Finished in 0.00022 seconds (files took 0.06779 seconds to load)
0 examples, 0 failures            
  </pre>
</li>
