        <li>
          paste this into
          <span class="italic">app/views/verify/index.html.erb</span>:
          <div
            style="background: #272822; overflow:auto;width:auto;padding:.2em .6em;"
            class="px-5 my-5"
          >
            <pre
              style="margin: 0; line-height: 125%"
            ><span style="color: #f92672">&lt;h1</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;text-danger&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #eee">Hello, Bootstrap!</span><span style="color: #f92672">&lt;/h1&gt;</span>
</pre>
          </div>
        </li>