<li><pre class="code">> bin/webpack-dev-server</pre></li>
        <li><pre class="code">> bin/rails s -p 4242</pre></li>
        <li>
          <pre class="code">> open http://localhost:4242/verify/index</pre><br />
          (or simply visit
          <a
            href="http://localhost:4242/verify/index"
            class="underline text-indigo-800"
            >http://localhost:4242/verify/index</a
          >)
        </li>
